HELP.md
target/

# Environment variables — KHÔNG commit lên git
.env
*.env
!.env.example
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Ignore auth flow doc
docs/9_AUTH_FLOW.md
docs/4_PERMISSION_DESIGN.md
docs/IMPLEMENTATION_PLAN.md
docs/FRONTEND_PLAN.md
docs/CALL_API_Account_flow.md
docs/FE_API_FLOW.md
uploads/photos/
plantuml
# docs